@import 'aSeriesPaper';

body{
    overflow-x: hidden;
}

figure{
    margin: 0;
    &:nth-child(3n+1){
        background: indianred;
    }
    &:nth-child(3n+2){
        background: limegreen;
    }
    &:nth-child(3n+3){
        background: yellow;
    }
}